<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config.properties"/>
    <environments default="default">
        <environment id="default">
            <transactionManager type="JDBC"/>
            <dataSource type="com.thoughtworks.twars.util.C3P0DataSourceFactory">
                <property name="driverClass" value="com.mysql.jdbc.Driver"/>
                <property name="jdbcUrl"
                          value="${jdbc.url}"/>
                <property name="user" value="${jdbc.user}"/>
                <property name="password" value="${jdbc.password}"/>
                <property name="idleConnectionTestPeriod" value="60" />
                <property name="maxPoolSize" value="20" />
                <property name="maxIdleTime" value="600" />
                <property name="preferredTestQuery" value="SELECT 1" />
            </dataSource>
        </environment>
        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="${jdbc.url}"/>
                <property name="username" value="${jdbc.user}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/UserMapper.xml"/>
        <mapper resource="mybatis/QuizItemMapper.xml"/>
        <mapper resource="mybatis/PaperMapper.xml"/>
        <mapper resource="mybatis/BlankQuizMapper.xml"></mapper>
        <mapper resource="mybatis/SectionMapper.xml"></mapper>
        <mapper resource="mybatis/SectionQuizMapper.xml"></mapper>
        <mapper resource="mybatis/ScoreSheetMapper.xml"></mapper>
        <mapper resource="mybatis/ItemPostMapper.xml"></mapper>
        <mapper resource="mybatis/BlankQuizSubmitMapper.xml"></mapper>
        <mapper resource="mybatis/HomeworkQuizMapper.xml"></mapper>
        <mapper resource="mybatis/HomeworkSubmitMapper.xml"></mapper>
        <mapper resource="mybatis/HomeworkPostHistoryMapper.xml"></mapper>
        <mapper resource="mybatis/LoginDetailMapper.xml"></mapper>
        <mapper resource="mybatis/PasswordRetrieveDetailMapper.xml"></mapper>
        <mapper resource="mybatis/GithubUserMapper.xml"></mapper>
    </mappers>
</configuration>
