<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thoughtworks.twars.mapper.UserMapper">

    <resultMap id="userDetailMap" type="com.thoughtworks.twars.bean.UserDetail">
        <id property="userId" column="userId"></id>
        <result column="school" property="school"></result>
        <result column="name" property="name"></result>
        <result column="major" property="major"></result>
        <result column="degree" property="degree"></result>
        <result column="gender" property="gender"></result>
    </resultMap>

    <resultMap id="userMap" type="com.thoughtworks.twars.bean.User">
        <id property="id" column="id"></id>
        <result column="email" property="email"></result>
        <result column="mobilePhone" property="mobilePhone"></result>
    </resultMap>

    <select id="getUserById" resultType="com.thoughtworks.twars.bean.User">
        select * from users where id = #{id}
    </select>

    <select id="getUserByEmail" resultType="com.thoughtworks.twars.bean.User">
        select * from users where binary email = #{email} LIMIT 1
    </select>

    <select id="getUserByMobilePhone" resultType="com.thoughtworks.twars.bean.User">
        select * from users where mobilePhone = #{mobilePhone} LIMIT 1
    </select>

    <select id="getUserByEmailAndPassWord" parameterType="com.thoughtworks.twars.bean.User"
            resultType="com.thoughtworks.twars.bean.User">
        SELECT * FROM users WHERE email regexp binary #{email} AND password = MD5(#{password}) LIMIT 1
    </select>

    <select id="getUserByMobilePhoneAndPassWord" parameterType="com.thoughtworks.twars.bean.User"
            resultType="com.thoughtworks.twars.bean.User">
        SELECT * FROM users WHERE mobilePhone = #{email} AND password = MD5(#{password}) LIMIT 1
    </select>

    <insert id="insertUser" parameterType="com.thoughtworks.twars.bean.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users(email, mobilePhone, password, createDate)
        VALUES (#{email}, #{mobilePhone}, MD5(#{password}), UNIX_TIMESTAMP())
    </insert>

    <insert id="updateUserDetail" parameterType="com.thoughtworks.twars.bean.UserDetail" useGeneratedKeys="true"
            keyProperty="userId">
       REPLACE INTO userDetail(userId,name,major,school,gender,degree) values(#{userId}, #{name},#{major}, #{school}, #{gender}, #{degree})
    </insert>

    <select id="getUserDetailById" resultType="com.thoughtworks.twars.bean.UserDetail">
        SELECT * FROM userDetail WHERE userId = #{userId};
    </select>

    <update id="updatePassword">
        UPDATE users SET password=MD5(#{password}) WHERE id = #{id} AND password=MD5(#{oldPassword});
    </update>

    <update id="resetPassword" parameterType="com.thoughtworks.twars.bean.User">
        UPDATE users SET password=MD5(#{password}) WHERE binary email= #{email};
    </update>

    <select id="findUserDetailsByUserIds" resultMap="userDetailMap">
        SELECT * FROM userDetail WHERE userId IN
        <foreach item="userIds" index="index" collection="list" open="(" separator="," close=")">
            #{userIds}
        </foreach>
    </select>

    <select id="findUsersByUserIds" resultMap="userMap">
        SELECT * FROM users WHERE id IN
        <foreach item="userIds" index="index" collection="list" open="(" separator="," close=")">
            #{userIds}
        </foreach>
    </select>
</mapper>
